<!-- btn -->
<a href="/" class="btn">
    <div class="btn__text-container">
        <div class="btn__text">Home</div>
    </div>
</a>

<!-- btn--primary -->
<a href="/" class="btn btn--primary">
    <div class="btn__text-container">
        <div class="btn__text">Home</div>
    </div>
</a>

<!-- btn--primary-outline -->
<a href="/" class="btn btn--primary-outline">
    <div class="btn__text-container">
        <div class="btn__text">Home</div>
    </div>
</a>

<!-- btn--secondary-outline -->
<a href="/" class="btn btn--secondary-outline">
    <div class="btn__text-container">
        <div class="btn__text">Home</div>
    </div>
</a>

<!-- btn--lg btn--primary -->
<a href="/" class="btn btn--lg btn--primary">
    <div class="btn__text-container">
        <div class="btn__text">Home</div>
    </div>
</a>