<!-- card--shrink -->
<div class="project">
    <header class="project__header">
        <p data-lang="product-mouse-title">Gaming Mouse</p>
        <h6 class="text--secondary" data-lang="product-mouse-category">Computer</h6>
    </header>
    <div class="card card--shrink gaming-mouse">
        <div class="card__badge">
            <span class="badge badge--primary" data-lang="product-mouse-title">Gaming Mouse</span>
            <div class="badge__group">
                <span class="badge badge--primary" data-lang="product-mouse-category">Computer</span>
                <span class="badge badge--primary" data-lang="product-mouse-time">2014</span>
            </div>
        </div>
        <img class="card__img" src="/images/gaming_mouse.png" alt="A Picture of Gaming Mouse Design">
    </div>
</div>

<!-- card--product -->
<div class="project">
    <header class="project__header">
        <p data-lang="product-mouse-title">Gaming Mouse</p>
        <h6 class="text--secondary" data-lang="product-mouse-category">Computer</h6>
    </header>
    <div class="card card--product gaming-mouse">
        <div class="card__badge">
            <span class="badge badge--primary" data-lang="product-mouse-title">Gaming Mouse</span>
            <div class="badge__group">
                <span class="badge badge--primary" data-lang="product-mouse-category">Computer</span>
                <span class="badge badge--primary" data-lang="product-mouse-time">2014</span>
            </div>
        </div>
        <img class="card__img" src="/images/gaming_mouse.png" alt="A Picture of Gaming Mouse Design">
    </div>
</div>

<!-- card--ui -->
<div class="project">
    <header class="project__header">
        <p data-lang="product-tablet-title">Tablet</p>
        <h6 class="text--secondary" data-lang="product-tablet-category">Electronics</h6>
    </header>
    <div class="card card--ui tablet">
        <div class="card__badge">
            <span class="badge badge--primary" data-lang="product-tablet-title">Tablet</span>
            <div class="badge__group">
                <span class="badge badge--primary" data-lang="product-tablet-category">Electronics</span>
                <span class="badge badge--primary" data-lang="product-tablet-time">2015</span>
            </div>
        </div>
        <img class="card__img" src="/images/tablet.png" alt="A Picture of Tablet Design">
    </div>
</div>

<!-- card--lg -->
<div class="project">
    <header class="project__header">
        <p data-lang="product-vue-pro-title">Vue Smart Glasses</p>
        <h6 class="text--secondary" data-lang="product-vue-pro-category">Wearable</h6>
    </header>
    <div class="card card--lg vue-pro">
        <div class="card__badge">
            <span class="badge badge--primary" data-lang="product-vue-pro-title">Vue Smart Glasses</span>
            <div class="badge__group">
                <span class="badge badge--primary" data-lang="product-vue-pro-category">Wearable</span>
                <span class="badge badge--primary" data-lang="product-vue-pro-time">2016</span>
            </div>
        </div>
        <img class="card__img" src="/images/vue_smart_glasses.jpg" alt="A Picture of Smart Glasses Design Called Vue">
    </div>
</div>