<!-- nav list -->
<ul class="list nav__list">
    <li class="nav__item">
        <a href="/" class="btn btn--primary">
            <div class="btn__text-container">
                <div class="btn__text" data-lang="nav-home">Home</div>
            </div>
        </a>
    </li>
    <li class="nav__item">
        <a href="/" class="btn">
            <div class="btn__text-container">
                <div class="btn__text" data-lang="nav-projects">Projects</div>
            </div>
        </a>
    </li>
    <li class="nav__item">
        <a href="/" class="btn">
            <div class="btn__text-container">
                <div class="btn__text" data-lang="nav-contact">Contact</div>
            </div>
        </a>
    </li>
</ul>

<!-- honor list -->
<ul class="list honor__list">
    <li class="honor__item">
        <h3 data-lang="honor-GDA">German Design Award Winner</h3>
        <h3 data-lang="honor-GDA-time">2018</h3>
    </li>
</ul>

<!-- data list -->
<ul class="list data__list">
    <li class="data__item">
        <h1>20+</h1>
        <h4 data-lang="data-1-detail">2018</h4>
    </li>
</ul>